* {
    margin: 0;
    padding: 0;
}

#ppts {
    position: relative;
    width: 420px;
    height: 315px;    
    list-style-type: none;
}

.ppt {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;    
}

.ppt img {
	width: 420px;
    height: 315px;
}

.turn_on {
    opacity: 1;
}



